### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [3]:
school_name = school_data_complete["school_name"].nunique()

school_name

total_student_num = len(school_data_complete["Student ID"])

total_student_num

total_budget = float(school_data_complete["budget"].unique().sum())

total_budget2 = '${:,.2f}'.format(total_budget) 
# total_budget2 = "${}".format(total_budget1)


average_math_score = school_data_complete["math_score"].sum()/len(school_data_complete["math_score"])

average_math_score = round(average_math_score, 6)

average_reading_score = school_data_complete["reading_score"].sum()/len(school_data_complete["reading_score"])

average_reading_score = round(average_reading_score, 5)

average_reading_score

math_passing = school_data_complete.loc[school_data_complete["math_score"] >= 70]

math_score_sum = school_data_complete["math_score"].sum()
passing_math_pct = len(math_passing["math_score"])/len(school_data_complete) * 100

passing_math_pct = round(passing_math_pct, 6)

passing_math_pct

reading_passing = school_data_complete.loc[school_data_complete["reading_score"] >= 70]

passing_reading_pct = len(reading_passing["reading_score"])/len(school_data_complete) * 100

passing_reading_pct = round(passing_reading_pct, 6)

passing_reading_pct



passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & \
                             (school_data_complete["reading_score"] >= 70)].count()["student_name"]


total_passing=passing_math_reading_count/len(school_data_complete) * 100

# school_data_complete[(school_data_complete["math_score"] >= 70) & \
#                              (school_data_complete["reading_score"] >= 70)]["type"].value_counts()

school_district_summary = pd.DataFrame({
                                        "Total Schools": [school_name],
                                        "Total Students": [total_student_num],
                                        "Total Budget": [total_budget2],
                                        "Average Math Score": [average_math_score],
                                        "Average Reading Score": [average_reading_score],
                                        "% Passing Math": [passing_math_pct],
                                        "% Passing Reading": [passing_reading_pct],
                                        "% Overall Passing": [total_passing]
})

school_district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [4]:
g_school_name = school_data_complete.groupby("school_name", as_index=False).max()

g_school_name

,school_name,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
0,Bailey High School,22846,Zachary Williams,M,9th,99,99,7,District,4976,3124928
1,Cabrera High School,17870,Zoe Gaines,M,9th,99,99,6,Charter,1858,1081356
2,Figueroa High School,5865,Zachary Wyatt,M,9th,99,99,1,District,2949,1884411
3,Ford High School,37534,Zoe Burton,M,9th,99,99,13,District,2739,1763916
4,Griffin High School,13729,Zoe Burgess,M,9th,99,99,4,Charter,1468,917500
5,Hernandez High School,12261,Zoe Meyer,M,9th,99,99,3,District,4635,3022020
6,Holden High School,23273,Zoe Hawkins,M,9th,99,99,8,Charter,427,248087
7,Huang High School,2916,Zoe Mcmillan,M,9th,99,99,0,District,2917,1910635
8,Johnson High School,34795,Zachary Whitney,M,9th,99,99,12,District,4761,3094650
9,Pena High School,24235,Zachary Pruitt,M,9th,99,99,9,Charter,962,585858
10,Rodriguez High School,30034,Zachary Winters,M,9th,99,99,11,District,3999,2547363
11,Shelton High School,7626,Zoe Mayer,M,9th,99,99,2,Charter,1761,1056600
12,Thomas High School,39169,Zoe Allen,M,9th,99,99,14,Charter,1635,1043130
13,Wilson High School,16012,Zoe Hawkins,M,9th,99,99,5,Charter,2283,1319574
14,Wright High School,26035,Zachary Smith,M,9th,99,99,10,Charter,1800,1049400

In [5]:
total_score = school_data_complete["school_name"].value_counts()

In [11]:
avg_pass = school_data_complete.loc[school_data_complete["math_score"] >= 70]

v_count_t_passing = avg_pass["school_name"].value_counts()
reading_score_pct_by_school = v_count_t_passing/total_score*100

reading_score_pct_by_school1 = reading_score_pct_by_school.to_frame()

reading_score_pct_by_school1 = reading_score_pct_by_school1.reset_index()

In [12]:
len(school_data_complete)

39170

In [13]:
4077/39170*100

10.40847587439367

In [14]:
per_student_budget = g_school_name["budget"] / g_school_name["size"]

per_student_budget

school_name = g_school_name["school_name"]

school_student_count = g_school_name["size"]

total_budget = g_school_name["budget"].astype(float)

g_school_name1 = g_school_name.loc[:, "budget"].astype(float)
pd.options.display.float_format = '${:,.2f}'.format
g_school_name1

per_student_budget
pd.options.display.float_format = '${:,.2f}'.format
# total_budget1

school_type = g_school_name["type"]

avg_score = school_data_complete.groupby("school_name", as_index=False).mean()

avg_score = avg_score.drop("school_name", axis=1)

avg_score1 = avg_score.astype(float)
avg_score1

avg_score1['math_score'] = avg_score1.apply(lambda x: "{:,.6f}".format(x['math_score']), axis=1)
avg_score1.head()

avg_math_score = avg_score1["math_score"]

avg_score1['reading_score'] = avg_score1.apply(lambda x: "{:,.6f}".format(x['reading_score']), axis=1)
avg_score1.head()

avg_reading_score = avg_score1["reading_score"]

reading_score_pct_by_school1['school_name'] = reading_score_pct_by_school1.apply(lambda x: "{:,.6f}".format(x['school_name']), axis=1)
reading_score_pct_by_school1

reading_score_pct_by_school2=reading_score_pct_by_school1["school_name"] 


school_summary = pd.DataFrame({
                                "": school_name, 
                                "School Type": school_type,
                                "Total Students": school_student_count,
                                "Total School Budget": g_school_name1,
                                "Per Student Budget": per_student_budget,
                                "Average Math Score": avg_math_score,
                                "Average Reading Score": avg_reading_score,
                                "% Passing Math": reading_score_pct_by_school2
})

school_summary

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math
0,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064
1,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477
2,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471
3,Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371
5,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967
6,Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855
7,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922
8,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595
10,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592
11,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121
12,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171
13,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718
14,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333

In [15]:
avg_reading_score

0     81.033963
1     83.975780
2     81.158020
3     80.746258
4     83.816757
5     80.934412
6     83.814988
7     81.182722
8     80.966394
9     84.044699
10    80.744686
11    83.725724
12    83.848930
13    83.989488
14    83.955000
Name: reading_score, dtype: object

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type